@font-face {
    font-family: Paper_story;
    src: url('Paper-Story-BF652fe2791dda9.otf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}
html{
    font-size: 62.5%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

p {
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    list-style: none;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
}

.block {
    display: block;
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

button {
    cursor: pointer;
    /* background-color: #007bff; */
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

img{
    height: 100px;
}
svg{
    height: 100px;
}





